node_modules/
package-lock.json
package.json

config-hadoop-hive-spark/hadoop-base/hadoop-config/hadoop-3.4.1.tar.gz
config-hadoop-hive-spark/hadoop-base/spark-config/spark-4.0.1-bin-hadoop3.tgz
config-hadoop-hive-spark/hive/config/apache-hive-3.1.3-bin.tar.gz
config-hadoop-hive-spark/hive/config/hadoop-3.3.6.tar.gz
config-hadoop-hive-spark/hadoop_data/
airflow_dags/config/
airflow_dags/logs/
airflow_dags/plugins/
airflow_dags/dags/__pycache__/
crawler/Code/__pycache__/
crawler/Code/.vscode/
crawler/Code/core/__pycache__/
crawler/Code/modules/__pycache__/
crawler/Code/config/__pycache__/
crawler/Logs/
crawler/chrome-profile-topcv
crawler/chrome-profile-topcv-*
